<h2 class="subtitle">line_chart #1</h2>
<%= line_chart User.group(:age).count, class: 'box', 
  code: false,
  options: {
    title: {
      text: "People count by age",
      left: 'center'
    },
  }
%>

<h2 class="subtitle">line_chart #2</h2>
<%= line_chart User.distinct.pluck(:role).map{|e| {name: e, data: User.where(role: e).group_by_day(:created_at).count} },
  class: 'box',
  debug: false,
  code: false,
  theme: 'macarons',
  options: {
    title: {
      text: "Signups by role"
    },
    toolbox: {
      show: true,
      feature: {
        saveAsImage: {}
      }
    },
    label: {
      show: true,
      position: 'top'
    },
  }
%>


<h2 class="subtitle">line_chart #3</h2>
<%= line_chart User.group(:age).count, class: 'box', 
  code: false,
  options: {
    title: {
      text: "People count by age v2",
      left: 'center'
    },
    xAxis: {
      boundaryGap: false,
    },
    yAxis: {
      type: 'value',
      boundaryGap: [0, '100%']
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'cross',
        label: {
          precision: 0
        }
      },
    },
    series: {
      symbol: 'none',
      sampling: 'lttb',
      itemStyle: {
        color: '#d65bca'
      },
      areaStyle: {
        color: RailsCharts.js(%Q{new echarts.graphic.LinearGradient(0, 0, 0, 1, [
          {
            offset: 0,
            color: '#d65bca'
          },
          {
            offset: 1,
            color: '#00b712'
          }
        ])}
        )
      }
    }
  }
%>

<h2 class="subtitle">line_chart #4</h2>
<%= line_chart User.group(:age).count, class: 'box', 
  code: false,
  renderer: 'svg',
  options: {
    title: {
      text: "People count by age v2 (renderer svg)",
      left: 'center'
    },
    xAxis: {
      boundaryGap: false,
    },
    yAxis: {
      type: 'value',
      boundaryGap: [0, '100%']
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'cross',
        label: {
          precision: 0
        }
      },
    },
    series: {
      symbol: 'none',
      sampling: 'lttb',
      itemStyle: {
        color: '#d65bca'
      },
      areaStyle: {
        color: RailsCharts.js(%Q{new echarts.graphic.LinearGradient(0, 0, 0, 1, [
          {
            offset: 0,
            color: '#d65bca'
          },
          {
            offset: 1,
            color: '#00b712'
          }
        ])}
        )
      }
    }
  }
%>
