<div class="columns">
  <div class="column is-one-third">
    <h2 class="subtitle">pie_chart #1</h2>
    <%= pie_chart User.group(:role).count, 
      class: 'box',
      options: {
        legend: { orient: 'vertical', left: 'left' }
      }
    %>
  </div>
  <div class="column is-one-third">
    <h2 class="subtitle">donut_chart #1</h2>
    <%= donut_chart User.group(:role).count, 
      class: 'box',
      options: {
        legend: {
          bottom: '0'
        },
        emphasis: { 
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          } 
        }
      }
    %>
  </div>
  <div class="column is-one-third">
    <h2 class="subtitle">donut_chart #1</h2>
    <%= pie_chart [
      { value: 335, name: 'Direct' },
      { value: 310, name: 'Email' },
      { value: 274, name: 'Union Ads' },
      { value: 235, name: 'Video Ads' },
      { value: 400, name: 'Search Engine' }
    ], {
      options: {
        backgroundColor: '#2c343c',
        title: {
          text: 'Customized Pie',
          left: 'center',
          top: 20,
          textStyle: {
            color: '#ccc'
          }
        },
        tooltip: {
          trigger: 'item'
        },
        visualMap: {
          show: false,
          min: 80,
          max: 600,
          inRange: {
            colorLightness: [0, 1]
          }
        },
        series: {
          name: 'Access From',
          type: 'pie',
          radius: '55%',
          center: ['50%', '50%'],
          roseType: 'radius',
          label: {
            color: 'rgba(255, 255, 255, 0.3)'
          },
          labelLine: {
            lineStyle: {
              color: 'rgba(255, 255, 255, 0.3)'
            },
            smooth: 0.2,
            length: 10,
            length2: 20
          },
          itemStyle: {
            color: '#c23531',
            shadowBlur: 200,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          },
          animationType: 'scale',
          animationEasing: 'elasticOut',
          animationDelay: RailsCharts::Function.new(%Q{
            function (idx) {
              return Math.random() * 200;
            }
          })
        }
      }
    }
    %>
  </div>
</div>
