<h2 class="subtitle">scatter_charts #1 simple</h2>
<%= scatter_chart User.random_scatter_chart(500, 200),
  {
    code: false,
    debug: false,
    options: {
      series: {
        name: 'Random Data',
      },
      legend: {
        data: [
          {name: 'Random Data'}
        ]
      },
    },
    class: 'box',
  }
%>

<h2 class="subtitle">scatter_charts #2 multiple</h2>
<%= scatter_chart [
    { name: 'John', data: User.random_scatter_chart(500, 200) },
    { name: 'Bob', data: User.random_scatter_chart(500, 1000) },
  ],
  {
    code: false,
    debug: false,
    class: 'box',
    options: {
      xAxis: {
        name: 'Distance'
      },
      yAxis: {
        name: 'Sales'
      },          
      legend: {
        data: [
          {name: 'John'},
          {name: 'Bob'},
        ]
      },
    },
  }
%>  