<h1 style="text-align: center">Charts</h1>

<%= line_chart User.group(:age).count, style: "margin: 0 auto", width: '1000px', height: '300px', theme: 'vintage' %>

<br>

<%= line_chart_2 User.group(:age).count, style: "margin: 0 auto", width: '1000px', height: '300px', theme: 'vintage' %>

<br>

<%#= line_chart User.distinct.pluck(:role).map{|e| {name: e, data: User.where(role: e).group_by_day(:created_at).count} } , style: "margin: 0 auto", width: '1000px', theme: 'dark' %>

